In [161]:
import pandas as pd
import os
from sklearn.tree import DecisionTreeClassifier
#from sklearn.linear_model import LogisticRegression
#from sklearn.dummy import DummyClassifier
#from sklearn.ensemble import RandomForestRegressor
#from sklearn.naive_bayes import GaussianNB
#from sklearn.supporting_vector_machine import svm  
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree
#from sklearn.externals import joblib
dataFrame = pd.read_csv("border_info.csv")
dataFrame.shape

(728, 3)

In [162]:
dataFrame.describe()

           serial
count  728.000000
mean   363.500000
std    210.299786
min      0.000000
25%    181.750000
50%    363.500000
75%    545.250000
max    727.000000

In [163]:
dataFrame.values

array([[0, 'Andorra', 'France'],
       [1, 'Andorra', 'Spain'],
       [2, 'United Arab Emirates', 'Oman'],
       ...,
       [725, 'Zimbabwe', 'Mozambique'],
       [726, 'Zimbabwe', 'South Africa'],
       [727, 'Zimbabwe', 'Zambia']], dtype=object)

In [164]:
enco = LabelEncoder()

In [165]:
dfl = dataFrame
dfl.country_border_name = enco.fit_transform(dfl.country_border_name )

In [166]:

x = dataFrame.drop(columns=["country_name"])
x

     serial  country_border_name
0         0                   49
1         1                  136
2         2                  111
3         3                  126
4         4                   29
..      ...                  ...
723     723                  162
724     724                   17
725     725                  101
726     726                  134
727     727                  161

[728 rows x 2 columns]

In [167]:

dfl.country_name = enco.fit_transform(dfl.country_name )

In [168]:
y = dataFrame['country_name']

#tree.export_graphviz(model, out_file = 'border.dot', feature_names = ['country_name','country_border_name'],
#class_names = sorted(y.unique()), label = 'all', rounded = True, filled = True)
x_train, x_test, y_train,y_test = train_test_split(x,y, test_size = 0.2)

In [169]:
model = DecisionTreeClassifier()
#storing model in file
#joblib.dump(model,'country_border.joblib')

In [170]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [171]:
dataFrame

     serial  country_name  country_border_name
0         0             5                   49
1         1             5                  136
2         2           234                  111
3         3           234                  126
4         4             0                   29
..      ...           ...                  ...
723     723           247                  162
724     724           248                   17
725     725           248                  101
726     726           248                  134
727     727           248                  161

[728 rows x 3 columns]

In [172]:
pre = model.predict(x_test)
accuracy = accuracy_score(y_test, pre)
accuracy

0.678082191780822

In [173]:
os.getcwd();